body {
  min-width: 720px;
  min-height: 320px;
}

#spinner {
  padding-top: calc(160px - 1rem);
}

.hfx-section .hfx-feature:nth-child(n+2) {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Remove default section name padding */
.hfx-feature {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.github-logo {
  width: 250px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.custom-control.custom-switch {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
  margin-left: -0.75rem;
}

.custom-control.custom-switch .custom-control-label {
  cursor: pointer;
}

/* FA Codes: https://astronautweb.co/snippet/font-awesome */
[data-toggle="collapse"]:not([collapsed='']) .fa:after {   
  content: "\f077"; /*fa-chevron-up */
}

[data-toggle="collapse"].collapsed .fa:after {
  content: "\f078"; /*fa-chevron-down */
}